*.iml
.gradle
/local.properties
*.idea
.DS_Store
/captures
.externalNativeBuild
*/build
build/android-profile/profile-2017-10-11-20-32-40-657.json
build/android-profile/profile-2017-10-11-20-32-40-657.rawproto
build/android-profile/profile-2017-10-11-20-52-42-088.json
build/android-profile/profile-2017-10-11-20-52-42-088.rawproto
build/android-profile/profile-2017-10-11-20-53-10-648.json
build/android-profile/profile-2017-10-11-20-53-10-648.rawproto
build/android-profile/profile-2017-10-11-20-54-29-329.json
build/android-profile/profile-2017-10-11-20-54-29-329.rawproto
